Order Allow,Deny
Allow from all
Options +FollowSymlinks

RewriteEngine On
# Use RewriteBase if you use Alias! The parameter of RewriteBase is the path behind the domain-part to your script.
RewriteBase /bignothing
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [L,NC]

php_value upload_max_filesize 100M
php_value post_max_size 100M
php_value memory_limit 150M
php_value max_execution_time 300
php_flag short_open_tag On
php_flag session.use_trans_sid Off
php_flag display_errors ON

