Order Allow,Deny
Allow from all
Options +FollowSymlinks

RewriteEngine On
# RewriteBase /Users/Me/BigNothing/public/
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^(.*)$ index.php [QSA,L]
#RewriteLog /tmp/rewritelog
#RewriteLogLevel 9

php_value upload_max_filesize 100M
php_value post_max_size 100M
php_value memory_limit 150M
php_value max_execution_time 300
php_flag short_open_tag On
php_flag session.use_trans_sid Off
