RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . /index.php [L]

Order Allow,Deny
Allow from all

php_value upload_max_filesize 100M
php_value post_max_size 100M
php_value memory_limit 150M
php_value max_execution_time 300
php_flag short_open_tag On
php_flag session.use_trans_sid Off
